<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassSemesterProjectReg_A_LotForm.Properties.Settings.Project1ConnectionString"
            connectionString="Data Source=cis1.actx.edu;Initial Catalog=Project1;User ID=db1;Password=db10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>